{% extends 'base.html' %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block title %} {% endblock %}

<style xmlns="http://www.w3.org/1999/html">
    {% block style %}
        .reply_comment {
            display: none;
        }

        #rcorners4 {
            border-radius: 25px;
            background: lightblue;
            padding: 3px 3px;

        }

    {% endblock %}

</style>

{% block content %}
    <h3>{{ obj.title }}</h3>
        <div class="col-sm-10-" id="main_video">
            {{ obj.embed_code|safe}}
        </div>
        {% if obj.tags %}
            {% for tag in obj.tags.all %}
                <div class=​"col-xs-2 col-sm-2">​
                <p id="rcorners4">
                {{ tag }}
                </p>
                </div>
            {% endfor %}
        {% endif %}
        <br/>
        <i class="fa fa-twitter-square fa-2x"></i> <a target="_" href="https://twitter.com/home?status={{ obj.get_share_message|safe }}">Share on Twitter</a>
        <!--<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>-->

        <div class="row">
            <h4>Comments and Questions</h4>
            <div class="col-sm-12">
                <div class="row">
                    <form action="{%  url 'comment_create' %}" method="post">
                        <input type="hidden" name="video_id" value="{{ obj.id }}">
                        <input type="hidden" name="origin_path" value="{{ request.get_full_path }}">
                        {% csrf_token %}
                        {% crispy comment_form  comment_form.helper %}
                    </form>
                </div>
                <br/>
                <br/>
                <div class="table-responsive">
                    <table class="table">
                        {% for comment in comments %}
                            <tr><td>
                                {{ comment.get_comment }}
                                <small>
                                    via {{ comment.user }}
                                    {{ comment.timestamp|timesince }} ago
                                </small>
                                {% if not comment.is_child %}
                                    <ul>
                                        {% for child in comment.get_children %}
                                        <li>
                                            {{ child.get_comment }} ||
                                            <small>via {{ child.user }}</small>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <a href="#" class="reply_button">Reply</a> | <a href="{{ comment.get_absolute_url }}" class="thread_btn">View Thread</a>
                                    <div class="reply_comment">
                                        <form action="{%  url 'comment_create' %}" method="post">
                                            {% csrf_token %}
                                            {% crispy comment_form  comment_form.helper %}
                                            <input type="hidden" name="parent_id" value="{{ comment.id }}"/>
                                            <input type="hidden" name="video_id" value="{%  url 'comment_create' %}">
                                            <input type="hidden" name="origin_path" value="{{ comment.get_origin }}">
                                        </form>
                                    </div>
                                {% endif %}

                            </td></tr>
                        {% endfor %}
                    </table>


                    <!--&lt;!&ndash;<table class="table table-bordered table-striped">&ndash;&gt;-->
                        <!--&lt;!&ndash;<thead>&ndash;&gt;-->
                            <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                                <!--&lt;!&ndash;<th>User99</th>&ndash;&gt;-->
                                <!--&lt;!&ndash;<th>Date</th>&ndash;&gt;-->
                                <!--&lt;!&ndash;<th>Comment</th>&ndash;&gt;-->
                            <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                        <!--&lt;!&ndash;</thead>&ndash;&gt;-->
                        <!--&lt;!&ndash;{% for c in comments %}&ndash;&gt;-->
                        <!--&lt;!&ndash;<tbody>&ndash;&gt;-->
                        <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                            <!--&lt;!&ndash;<td style="width: 15%">{{ c}}</td>&ndash;&gt;-->
                            <!--&lt;!&ndash;<td style="width: 20%">{{ c.updated|timesince }}</td>&ndash;&gt;-->
                            <!--&lt;!&ndash;<td>{{ c.get_comment }}</td>&ndash;&gt;-->
                        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                        <!--&lt;!&ndash;{% if not c.is_child %} &lt;!&ndash; if comment is a parent comment &ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;{{ c.get_children|length }}&ndash;&gt;-->
                        <!--&lt;!&ndash;{{ c.get_children }}&ndash;&gt;-->
                            <!--&lt;!&ndash;{% if c.get_children|length > 0 %}&ndash;&gt;-->
                            <!--&lt;!&ndash;<tr> &lt;!&ndash;This row is for the child comments &ndash;&gt;&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="col-sm-12">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<table class="table table-bordered table-striped table-condensed">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<thead>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<th style="width: 15%">User2</th>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<th style="width: 20%">Date</th>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<th>Comment</th>&ndash;&gt;-->
                                            <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</thead>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<tbody>&ndash;&gt;-->
                                            <!--&lt;!&ndash;{% for child in c.get_children %}&ndash;&gt;-->
                                            <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<td style="width: 15%">{{ child }}</td>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<td style="width: 20%">{{ child.updated|timesince }}</td>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<td>{{ child.get_comment }}</td>&ndash;&gt;-->
                                            <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                                            <!--&lt;!&ndash;{% endfor %} &lt;!&ndash; This is the for loop to get the list of children &ndash;&gt;&ndash;&gt;-->
                                            <!--&lt;!&ndash;&lt;!&ndash;Row for the form&ndash;&gt;&ndash;&gt;-->
                                        <!--&lt;!&ndash;</tbody>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</table>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;</tr> &lt;!&ndash; End row for child comment &ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;{% endif %}&ndash;&gt;-->
                        <!--&lt;!&ndash;{% endif %}&ndash;&gt;-->
                        <!--&lt;!&ndash;<tr class="reply_comment">&ndash;&gt;-->

                            <!--&lt;!&ndash;<td colspan="3">&ndash;&gt;-->
                                <!--&lt;!&ndash;<a href="#" class="reply_button">Reply</a> | <a href="{{ comment.get_absolute_url }}" class="thread_btn">View Thread</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<form action="" method="post">&ndash;&gt;-->
                                <!--&lt;!&ndash;{% csrf_token %}&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="hidden" name="parent_id" value="{{ comment.id }}"/>&ndash;&gt;-->
                                <!--&lt;!&ndash;{{ comment_form.as_p }}&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="submit" value="Add Comment" class="btn btn-default"/>&ndash;&gt;-->
                            <!--&lt;!&ndash;</form>&ndash;&gt;-->
                            <!--&lt;!&ndash;</td>&ndash;&gt;-->
                        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                        <!--&lt;!&ndash;</tbody>&ndash;&gt;-->
                        <!--&lt;!&ndash;{% endfor %} &lt;!&ndash; for loop on comments &ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;</table>&lt;!&ndash;.table Main&ndash;&gt;&ndash;&gt;-->
                </div>
            </div>
        </div>

{% endblock content %}
<script>
    {% block jQuery %}
        function update_iframe_size(){
            var parent_id = $('iframe').parent().attr('id')
            if (parent_id=='main_video') {
                var parent_class = $('iframe').parent().attr('class');
                var parent_width = $('iframe').parent().width();

                var width = $('iframe').css('width');
                var height = $('iframe').css('height');
                var ratio = parseInt(height) / parseInt(width);
                var new_height = parseInt(new_height) * ratio;
                $('iframe').css('width', parent_width);
                $('iframe').css('height', new_height);
            }
        }

        update_iframe_size()
        $(window).bind("resize", function(){
            update_iframe_size()
        });
    $('.reply_button').click(function(e){
        e.preventDefault();
        $(this).nextAll('.reply_comment').fadeToggle();
    });

    {% endblock jQuery %}
</script>

